.Button {
  display: inline-block;
  line-height: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  font-size: 1.125rem;
  white-space: nowrap;
  user-select: none;
  appearance: none;
  padding: 1em 1.5em;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: .15s ease-out;
  box-shadow: 0 4px 6px rgba($color--darkest,.1), 0 1px 3px rgba($color--black,.08);
  width: 100%;
  display: block;
  @media (min-width: 768px) {
    display: inline-block;
    width: auto;
  }

  & + & {
    margin: 1em 0 0;
    @media (min-width: 768px) {
      margin: 0 0 0 1em;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba($color--darkest,.1), 0 3px 6px rgba($color--black,.08);
  }

  &--primary {
    background: $color--primary;
    color: $color--white;
    &:hover,
    &:focus {
      background: mix($color--white, $color--primary, 10%);
      color: $color--white;
    }
  }

  &--alternate {
    background: $color--white;
    color: $color--primary;
    &:hover,
    &:focus {
      color: mix($color--white, $color--primary, 10%);
    }
  }
}
