.Hero {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 80px 15px 50px;
  overflow: hidden;
  background: #706a6e;

  &-image {
    background-size: cover;
    background-position-y: 30%;
    z-index: 1;
    filter: blur(4px);
  }

  &-image,
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:before {
    content: '';
    background: rgba(#000, 0.5);
    z-index: 2;
  }


  &-content {
    position: relative;
    z-index: 2;
  }

  &-logo {
    max-width: 150px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 250px;
    }
  }

  .RBLogo {
    &-bg {
      fill-opacity: .8;
    }
    &-window {
      animation: turnUpTheLights 6s forwards;
    }
  }

  @keyframes turnUpTheLights {
    0% {
      fill: rgba($color--white, .1);
    }
    100% {
      fill: rgba($color--white, 1);
    }
  }

  &-title,
  &-subtitle {
    color: #fff;
  }

  &-title {
    font-size: 4rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &-subtitle {
    font-size: 1.5rem;
    margin: 1em 0;
  }
}
