.Speaker {
  width: 100%;
  margin-bottom: 2em;

  &-photo {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  &-name {
    font-size: 1.5rem;
  }

  &-company {
    // margin-bottom: 1em;
    color: #888;
  }

  &-social {
    font-size: 2rem;
    padding: 10px 0;
    a {
      display: inline-block;
      color: $color--light;
      transition: .25s ease-out;
      filter: drop-shadow(0 1px 4px rgba($color--darkest,.1));
      &:focus,
      &:hover {
        color: $color--primary;
        transform: translateY(-2px);
        filter: drop-shadow(0 4px 6px rgba($color--darkest,.1));
        text-decoration: none;
      }
    }
    a + a {
      margin-left: .25em;
    }
  }
}

.CFP {
  background: $color--alternate;
  color: $color--white;
  padding: 20px;
  margin: 0 10px 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.4rem;
  p,
  .Button {
    margin: 1em 0;
  }
  p {
    flex: 1 1 75%;
    padding-right: 20px;
  }
  .Button {
    flex: 1 1 25%;
  }
}
