
$color--primary: #f15959;
$color--alternate: #4baee2;

$color--darkest: #333;
$color--dark: #666;
$color--light: #ccc;
$color--lightest: #eee;

$color--white: #fff;
$color--black: #111;

$base-font: 'Source Sans Pro', sans-serif;
